.App {
  text-align: center;
  height: 100vmax;
  background-color: #006400;
}

.buttons {
  margin-bottom: 15px;
}

.game-card {
  border: 2px solid black;
  display: inline-block;
  margin: 10px;
  width: 150px;
  height: 108px;
  transform-style: preserve-3d;
}

.game-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  background-color: #eeeeee;
}

.game-card-back {
  background-image: url(./utils/CardBack.jpg);
  background-size: cover;
}

.game-card-front, .game-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}